@import 'tailwindcss';
@import '@fontsource/fira-mono';
@tailwind utilities;
@plugin 'daisyui' {
	themes:
		nord --default,
		night --prefersdark;
}

@custom-variant dark (&:where(.dark, .dark *, [data-theme=night], [data-theme=night] *));

:root {
	--font-body:
		Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
		'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
}
